<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="SourcePath" value="C:\\Users\\macie\\Downloads\\srt\\target5.srt"/>
		<add key="TargetPath" value="C:\\Users\\macie\\Downloads\\srt\\target6.srt"/>
		<add key="Seconds" value="-2.5"/>

	</appSettings>
</configuration>